{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block 'content' %}
<div class="details">
	{% include 'mainapp/include/inc_submenu.html' %}
	{% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'hpage' %}
		{% include 'mainapp/include/inc_hot_product.html' %}
	{% elif request.resolver_match.url_name == 'category' or request.resolver_match.url_name == 'page' %}

	<div class="details-products">
		<div class="details-slider">
			<div class="slider-product">
				<img src="{{ products_new.0.image|media_folder_products }}" class="slider-product">
			</div>
		</div>

		<div class="description">
			<h3 class="big-bold">{{ products_new.0.short_description }}</h3>
			<h3 class="red">горячее предложение</h3>
			<p class="price"> {{ products_new.0.price_with_discount }} <span>руб</span></p>
			<a href="{% url 'products:product' products_new.0.pk %}" class="red-button">
				перейти на страницу <i class="fa fa-chevron-right" aria-hidden="true"></i>
			</a>
			<div class="description-text">
				<p>{{ products_new.0.description }}</p>
			</div>
		</div>
	</div>
	<div class="related">
		<div class="title clearfix">
			<h2>Похожие продукты</h2>
		</div>
		<div class="related-products clearfix">
			{% for item in products_new %}
				<div class="block">
					<a href="{% url 'products:product' item.id %}" ><img src="{{ item.image|media_folder_products }}" class="block" alt="">
						<div class="text">
							<img src="{% static 'img/icon-hover.png' %}" alt="img">
							<h4>{{ item.category }}</h4>
							<p>{{ item.description }} </p>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
</div>
<div class="clr"></div>
{% endblock %}