{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block 'content' %}
<div class="details">
	{% include 'mainapp/include/inc_submenu.html' %}
	<div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img class="details-slider" src="{{ object.image|media_folder_products }}">
            </div>
        </div>

        <div class="description">
            <h3 class="big-bold">{{ object.short_description }} </h3>
            <h3 class="red">горячее предложение</h3>
            <p class="price"> {{ object.price_with_discount }} <span>руб</span></p>
            <a href="{% url 'cart:add_to_cart' object.id %}" class="red-button">
                заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <div class="description-text">
                <p>{{ object.name }}</p>
                <p>{{ object.description }}</p>
                <p>Отличное качество материалов </p>
                <p>высочайший уровень
                эргономики и прочность.</p>
            </div>
        </div>
    </div>

</div>
<div class="clr"></div>
{% endblock %}