{% load static %}
{% load my_tags %}

<div class="related">
    <div class="title clearfix">
        <h2>Похожие продукты</h2>
    </div>
    <div class="related">
        {% block pagination %}
          {% if is_paginated %}
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">назад</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">вперед</a>
                      {% endif %}
                  </span>
          {% endif %}
        {% endblock %}
        </div>
    <div class="tab-content">
        {% for item in object_list %}
            <div class="block">
                <a href="{% url 'products:product' item.id %}" ><img src="{{ item.image|media_folder_products }}" class="block" style = "height: 370px; width: 370px" alt="">
                    <div class="text" style = "height: 370px; width: 370px">
                        <img src="{% static 'img/icon-hover.png' %}"  alt="img">
                        <h4>{{ item.category }}</h4>
                        <p>{{ item.name }} </p>
                        <p>{{ item.description }} </p>
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>
</div>
