{% load static %}
{% load my_tags %}
<div class="details-products">
	<div class="details-slider">
		<div class="slider-product">
			<img class="details-slider" src="{{ hot_product.image|media_folder_products }}">
		</div>

	</div>

	<div class="description">
		<h3 class="big-bold">{{ hot_product.short_description }}</h3>
		<h3 class="red">горячее предложение</h3>
		<p class="price"> {{ hot_product.price_with_discount }} <span>руб</span></p>
		<a href="{% url 'products:product' hot_product.id %}" class="red-button">
			перейти на страницу продукта <i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>
		<div class="description-text">
			<p>{{ hot_product.name }}</p>
			<p>{{ hot_product.description }}</p>
			<p>Отличное качество материалов </p>
			<p>высочайший уровень
			эргономики и прочность.</p>
		</div>
	</div>
</div>

